header{
padding-top: 100px;
text-align: center;
color: rgb(140,0,0);
font-size: 22px;
font-family:  "Times new Roman",Times,serif;
font-style: oblique;
}

#Accueil {
z-index: 5;
position: fixed;
left: 60px;
color: white;
font-size: 25px;
}

.select-langue {
z-index: 5;
position: fixed;
top: 25px;
left: 90%;
}



.top{
  margin-top: 85px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 4;
  overflow: hidden;
}

.top-img{
  padding-top: 0;
  position: absolute;
  background-image: url("../../Img/topbackground.jpg");
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-backdrop-filter: blur(8px);
  filter: blur(5px);
  height: 100%;
  background-size: 100% 100%;
  transform: scale(1.080);
  overflow:  visible;
  object-fit: fill;
}

.picture{

 margin: auto;
 z-index: 5;
 position: relative;
 height: 102px;
 text-align: center;


}

.circle{
background-image: url("../../Img/Selfie.jpg");
background-size: 174px;
margin: 0 auto;
position: relative;
z-index: 5;
height: 190px;
width: 190px;
border-radius: 50%;
border-width: 5px;
background-color: white;
border: 8px solid #e8e8e8;
}

.wrapper1{
height: 440px;
}

.wrapper2{
  height: 38px;
}

.middle{
text-align: center;
position: relative;
z-index: 4;
height:500px;
width: 100%;
background-color: #f9fafa;
}


ul > li {
  display: inline-block;
  display:inline;
  list-style-type: none;
}

.description{
word-break: keep-all;
text-align: left;
font-size: 22px;
left: 30%;
top: 15%;
position: relative;
color:  black ;rgb(115,97,98);


}



.top-description{
  font-style: italic;
  font-size: 24px;
  top:15%;
  margin: 0 auto;
  position: relative;
  color: rgb(64,121,107);
  margin: 8px;

}

p{
color: #2C3E50;
font-size: 26px;
}


footer{
  text-align: center;
  position: fixed;
  height: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
}

html,body{
      margin: 0;
      padding: 0;
      overflow: hidden;

}

h2{
text-decoration: underline;
text-underline-position: under;
margin-bottom: 19px;
color: rgb(140,0,0);


}
