header{
padding-top: 100px;
text-align: center;
color: #CB9A76;
font-size: 22px;
font-family:  "Times new Roman",Times,serif;
font-style: oblique;
}

#Accueil {
z-index: 4;
position: fixed;
left: 60px;
color: white;
font-size: 25px;
}

.top{
  margin-top: 85px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  overflow: hidden;
}

.top-img{
  padding-top: 0;
  position: absolute;
  background-image: url("../../Img/topbackground.jpg");
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-backdrop-filter: blur(8px);
  filter: blur(5px);
  height: 520px;
  background-size: cover;
  transform: scale(1.080);
  overflow: hidden;
}

.picture{

 margin: auto;
 z-index: 2;
 position: relative;
 height: 102px;
 text-align: center;

}

.circle{
background-image: url("../../Img/Selfie.jpg");
background-size: 174px;
margin: 0 auto;
position: relative;
z-index: 5;
height: 190px;
width: 190px;
border-radius: 50%;
border-width: 5px;
background-color: white;

}

.wrapper{
height: 440px;
}

.middle{
text-align: center;
position: relative;
z-index: 0;
height:500px;
width: 100%;
background-color: lightgrey;
}

.description{
margin: auto;
position: relative;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

p{
color: #2C3E50;
font-size: 26px;
}


footer{
  text-align: center;
  position: fixed;
  height: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
}

html,body{
      margin: 0;
      padding: 0;
      overflow: hidden;

}
